html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.nav {
    display: flex;
    flex-shrink: 0;
    background-color: #93CDD4;
    opacity: 0.7; 
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.menu {
    padding-right: 2em;
    padding-left: 2em;
}

#menu {
    padding: 0;
    margin: 0;
}

#menu:hover {
    cursor: pointer;
    color: #900C3F;
}

#menu.close {
    display: none;
}

.menuPopup {
    display: none;
    color: whitesmoke;
}

.menuPopup.open {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullMenu {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.menuItems {
    margin: 0;
    font-size: 1em;
    color: whitesmoke;
}

.menuItems:hover {
    cursor: pointer;
    color:  #900C3F;
}

a {
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.aboutBody {
    background-color: #93CDD4;
}
.aboutMain {
    background-color: #93CDD4;
    margin: 3em;
}

.aboutNav {
    flex-direction: column;
    margin-bottom: 0;
    opacity: 1;
}

.back {
    margin-top: 1em;
    margin-bottom: 1em;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image {
    margin: 20px;
}

.image:hover {
    opacity: 0.8;
}

.imageSize {
    width: 300px;
    height: 370px;
}

.roundedImage {
    border-radius: 5%;
    max-height: 300px;
}
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
}

.lightbox.open {
    display: flex;
}

.lightboxImage {
    width: 50%;
    max-width: 1000px;
    max-height: 100%;
    margin: auto;
}

.leftArrow {
    color: whitesmoke;
    font-size: 3em;
    position: absolute;
    top: 45%;
    left: 10%;
}

.rightArrow {
    color: whitesmoke;
    font-size: 3em;
    position: absolute;
    top: 45%;
    right: 10%;
}

.leftArrow:hover, .rightArrow:hover {
    color: #900C3F;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 3em;
    color: whitesmoke;
}

.close:hover {
    color: #900C3F;
    cursor: pointer;
}

@media (max-width: 675px) {
    #image3 {
        display: none;
    }
}

@media (max-width: 455px) {
    #image1 {
        display: none;
    }
}