html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgba(191, 195, 201, 0.5);
    overflow-y: auto;
}

/* Main Page Elements */
/* Navbar elements */
.nav {
    display: flex;
    flex-shrink: 0;
    background-color: rgba(130, 227, 242, 0.6);
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#menu {
    padding: 0;
    margin: 0;
}

#menu:hover {
    cursor: pointer;
    color: white;
}

#menu.close {
    display: none;
}

.menuPopup {
    display: none;
    color: whitesmoke;
}

.menuPopup.open {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullMenu {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.menuItems {
    margin: 0;
    font-size: 1em;
    color: black;
}

.menuItems:hover {
    cursor: pointer;
    color:  white;
}

a {
    text-decoration: none;
}

/* Image Gallery Styling */
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image {
    margin: 20px;
    opacity: .8;
}

.image:hover {
    opacity: 1;
}

.imageSize {
    width: 300px;
    height: 370px;
}

/*Lightbox styling*/
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
}

.lightbox.open {
    display: flex;
}

.lightboxImage {
    width: 50%;
    max-width: 1000px;
    max-height: 100%;
    margin: auto;
}

.leftArrow {
    color: whitesmoke;
    font-size: 3em;
    position: absolute;
    top: 45%;
    left: 10%;
}

.rightArrow {
    color: whitesmoke;
    font-size: 3em;
    position: absolute;
    top: 45%;
    right: 10%;
}

.leftArrow:hover, .rightArrow:hover {
    color: #900C3F;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 3em;
    color: whitesmoke;
}

.close:hover {
    color: #900C3F;
    cursor: pointer;
}

/* Footer styling */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(130, 227, 242, 0.8);
    text-align: center;
    font-weight: bold;
}

/*About Page Styling*/
.aboutBody {
    background-color: #bfc3c9;
}
.aboutMain {
    background-color: #bfc3c9;
    margin: 3em;
}

.aboutNav {
    flex-direction: column;
    margin-bottom: 0;
    opacity: 1;
    background-color: #bfc3c9;

}

.roundedImage {
    border-radius: 5%;
    max-height: 300px;
}

/* Return to main page from about page*/
.back {
    margin-top: 1em;
    margin-bottom: 1em;
}

@media (max-width: 680px) {
    #image3 {
        display: none;
    }
}

@media (max-width: 455px) {
    #image1 {
        display: none;
    }
}