html, body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgba(191, 195, 201, 0.2);
    overflow-y: scroll;
}

/* Main Page Elements */
/* Navbar elements */
.nav {
    display: flex;
    flex-shrink: 0;
    background-color: rgba(191, 195, 201, 0.2);
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav-items {
    margin-right: 2em;
    margin-left: 1em;
}

#menu {
    padding: 0;
    margin: 0;
}

#menu:hover {
    cursor: pointer;
    color: white;
}

#menu.close {
    display: none;
}

.menu-popup {
    display: none;
    color: whitesmoke;
}

.menu-popup.open {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-menu {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.menu-items {
    margin: 0;
    font-size: 1em;
    color: black;
}

.menu-items:hover {
    cursor: pointer;
    color:  white;
}

a {
    text-decoration: none;
}

/* Image Gallery Styling */
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    position: relative;
    margin: 20px;
    opacity: .8;
}

.item:hover {
    opacity: 1;
    cursor: pointer;
}

.item:hover .caption{
    opacity: 1;
    cursor: pointer;
    display: flex;
}

.imageSize {
    width: 300px;
    height: 370px;
}

.caption {
    display: none;
    color: white;
    position: absolute;
    height: 100%;
    width: 90%;
    left: 1em;
    bottom: 0;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 1px 2px black;
}

/*Lightbox styling*/
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
}

.lightbox.open {
    display: flex;
    flex-direction: row;
}
.image-caption-box {
    display: flex;
    flex-direction: row;
    width: 50%;
    max-width: 800px;
    max-height: 90%;
    margin: auto;
}
.lightbox-image {
    width: 85%;
    margin-right: 0;
}

.lightbox-caption {
    background-color: white;
    color: black;
    width: 15%;
    display: flex;
    align-items: center;
    margin-left: 0;
    padding: 1em;
}

.left-arrow {
    color: whitesmoke;
    font-size: 3em;
    position: absolute;
    top: 45%;
    left: 10%;
}

.right-arrow {
    color: whitesmoke;
    font-size: 3em;
    position: absolute;
    top: 45%;
    right: 10%;
}

.left-arrow:hover, .right-arrow:hover {
    color: #900C3F;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 3em;
    color: whitesmoke;
}

.close:hover {
    color: #900C3F;
    cursor: pointer;
}

/* Footer styling */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(191,195,201, 0.2);
    text-align: center;
    font-weight: bold;
}

/*About Page Styling*/
.about-body {
    background-color: #bfc3c9;
}
.about-main {
    background-color: #bfc3c9;
    margin: 3em;
}

.about-nav {
    flex-direction: column;
    margin-bottom: 0;
    opacity: 1;
    background-color: #bfc3c9;

}

.rounded-image {
    border-radius: 5%;
    max-height: 300px;
}

/* Return to main page from about page*/
.back {
    margin-top: 1em;
    margin-bottom: 1em;
} 
@media (max-width:1150px) {
    .image-caption-box {
        flex-direction: column;
        height: 90%;
    }
    .lightbox-image {
        width: 100%;
        height: 85%;
    }
    .lightbox-caption {
        justify-content: center;
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 0;
        padding-left: 0;
        height: 15%;
    }
}
@media (max-width: 680px) {
    #image3 {
        display: none;
    }
    .image-caption-box {
        height: 70%;
    }
}

@media (max-width: 455px) {
    #image1 {
        display: none;
    }
    .image-caption-box {
        height: 55%;
    }
    .lightbox-image {
        height: 75%;
    }
    .lightbox-caption {
        height: 25%;
    }
}